queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix

mail_owner = postfix
#default_privs = nobody

myhostname = {{ postfix_mailname }}
#mydomain = domain.tld
#myorigin = $myhostname


# TLS parameters
{% if postfix_certificate %}
# use letsencrypt cert
smtpd_tls_cert_file = /etc/ssl/{{ inventory_hostname }}/postfix_{{ inventory_hostname }}.chain
smtpd_tls_key_file = /etc/ssl/{{ inventory_hostname }}/postfix_{{ inventory_hostname }}.key
smtpd_use_tls = yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
# outbound TLS configuration
smtp_tls_security_level = {{ postfix_outbound_tls }}
lmtp_tls_security_level = {{ postfix_outbound_tls }}
{% else %}
# we need a certificate role to address certs in all cases
{% endif %}

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination

recipient_delimiter = +

inet_interfaces = all
inet_protocols = all

mydestination = {{ postfix_mailname }}, localhost.localdomain, localhost

unknown_local_recipient_reject_code = 550
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

relayhost = {{ postfix_relayhost }}

alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases

smtpd_banner = $myhostname ESMTP $mail_name
debug_peer_level = 2

debugger_command =
   PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
   ddd $daemon_directory/$process_name $process_id & sleep 5

sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix

setgid_group = postdrop

html_directory = no

manpage_directory = /usr/share/man
